<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Đăng ký</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <form
        th:action="@{/users/register}"
        th:object="${userRegisterDTO}"
        method="post"
        class="form"
        autocomplete="off"
      >
        <div class="form-body">
          <div class="form-text">
            <div class="form-text-1">Đăng ký</div>
            <div class="form-text-2">Tạo tài khoản của bạn</div>
          </div>
          <div class="input-area">
            <div class="form-inp">
              <input
                type="text"
                id="username"
                th:field="*{username}"
                placeholder="Nhập tên người dùng"
                required
              />
            </div>
            <div class="form-inp">
              <input
                type="password"
                id="password"
                th:field="*{password}"
                placeholder="Nhập mật khẩu"
                required
              />
            </div>
            <div class="form-inp">
              <input
                type="password"
                id="retypePassword"
                th:field="*{retypePassword}"
                placeholder="Xác nhận mật khẩu"
                required
              />
            </div>
            <div class="form-inp">
              <input
                type="email"
                id="email"
                th:field="*{email}"
                placeholder="Nhập email"
                required
              />
            </div>
          </div>
          <p th:text="${errorMessages}" class="form-error-text"></p>
          <div class="form-btn">
            <button class="submit-btn btn" type="submit">Đăng ký</button>
          </div>
          <div class="form-btn">
            <p>Bạn đã có tài khoản</p>
            <a class="btn" th:href="@{/users/login}">Đăng nhập</a>
          </div>
        </div>
      </form>
    </div>
    <script type="module" th:src="@{/js/borderInput.js}"></script>
    <script type="module" th:src="@{/js/validatePass.js}"></script>
  </body>
</html>
